# arch=ia32
# target_arch=x64

# electron源:
# electron_mirror=https://npm.taobao.org/mirrors/electron/
# sass_binary_site=https://npm.taobao.org/mirrors/node-sass/
# phantomjs_cdnurl=https://npm.taobao.org/mirrors/phantomjs/

# Node:
# NODE_MIRROR=https://mirrors.tuna.tsinghua.edu.cn/nodejs-release/

# npm源:
# registry= https://registry.npmmirror.com/
# npm Mirror：这是由中国电信提供的npm镜像源
# registry=https://npmirror.com/
# 华为云npm镜像 
# registry=https://mirrors.huaweicloud.com/repository/npm/
# 中国科技大学npm镜像
# registry=https://npm.mirrors.ustc.edu.cn/

registry=https://mirrors.huaweicloud.com/repository/npm/ 
